//Commande
//sass --watch style.scss style.css <- Affiche en temps réel le rendu
//sass --version <- Affiche la version de SASS



//Variable


//Mixin
@mixin text-center{
    text-align: center;
    justify-content: center;
}

@mixin rounded_div{
    display: flex;
    border-radius: 13px;
    margin: auto;
    margin-bottom: 30px;
    width: 90%;
    border: solid 0.1px #d1caca;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 70px;
    font-size: 12px;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);
    background-color: #F6F6F6;
    & span{
        background-color: #9356DC;
        border-radius: 100%;
        color: white;
        display: flex;
        position: absolute;
        left: 3%;
        width: 4%;
        height: 30px;
        justify-content: center;
        align-items: center;
    }
}

@mixin h1($padding-left, $padding-top){
    padding-top: $padding-top;
    text-align: left;
    padding-left: $padding-left;
}

@mixin btn{

    border-radius: 50px;
    width: 30%;
    border: 0px;
    background: linear-gradient(#E270DA, #A45CDC);
    box-shadow: 1px 3px 10px grey;
    padding: 15px;
    & a{
        color: white;
    }
    &:hover{
        scale: 105%;
        filter:brightness(1.1);
    }
}

@mixin flex{
    justify-content: center;
    align-items: center;
}

*{
    text-decoration: none;
}

header{
    @include text-center();
    img{
        scale: 0.8;
    }
    .div_header--logo {
        z-index: 1;
        position: relative;
        box-shadow: 0 0 0.5rem rgba(0,0,0,.25);
    }
    
}

body{
   @include text-center();
   margin: 0;

   .loader{
    width: 100%;
    height: 100%;
    margin: auto;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(8px);
    visibility: visible;
    animation: loading 2s ease-in forwards;
    animation: hideLoader 2s linear forwards;

    
    
    
    & .circle{
        padding: 12%;
        border-radius: 100%;
        margin: 0px 30px;
        animation: loading 2s ease-in;
        &:nth-child(1){
            background-color: #9356DC;
        }
        &:nth-child(2){
            background-color: #008766;
            animation-delay: 0.1s;
        }
        &:nth-child(3){
            background-color: #353535;
            animation-delay: 0.2s;
        }
    }
   }
}

@keyframes loading {
    0%{
        transform: translate(0px, 0px);
    }
    30%{
        transform: translate(0, 150px);
    }
    60%{
        transform: translate(0, -150px);

        opacity: 0.9;
    }
    90%{
        transform: translate(0px, 0px);
    }
    100%{
        
        opacity: 0.1;   
    }
}

@keyframes hideLoader {
    to {
        visibility: hidden;
    }
}

.main-contener{

    .localisation-container{
        display: flex;
        background-color: #EAEAEA;
        @include flex();
        width: 100%;
        padding: 10px;
        font-weight: 600;

        i:first-child{
            margin-right: 10px;
        }
    }
    .btn{
        @include btn()
    }

    section{
        margin-bottom: 0px;
    }

    .menu_search{
        background-color: #F6F6F6;
        padding: 30px 0px;
    }

    .functioning-container{
        h1{
            @include h1(40px, 20px);
        }
        
        .functioning-block{

            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-content: space-between;


            .functioning-items{
                @include rounded_div();
                h2{
                    width: 35%;
                }

            }
        }
    }
    
    .restaurant_picture img{
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        height: 300px;
    }

    .menu_top_container{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        background-color: #F6F6F6;
        gap: 50%;
        border: 1px solid grey;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        & h1{
            margin: 20px;
        }
        
    }
    .menu_container{
       
        .container_menu{

            background-color: #F6F6F6;
            .menu_type{
                text-align: start;
                border-bottom: 3px solid #99E2D0;
            }

            section{
                margin: 10px;
            }
            article{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                background-color: #FFFFFF;
                align-items: center;
                margin: 21px 0px;
                border-radius: 10px;
                & h2{
                    width: 100%;
                }
                & p{
                    width: 50%;
                }
                & .price{
                    width: 50%;
                }
            }
        }
    }
    .restaurant_container{
        background-color: #F6F6F6;

        h1{
            @include h1(40px,50px);
        }

        .card-container{
            display: flex;
            justify-content: center;

            .card{
                display: flex;
                flex-direction: column;
                background-color: #FFFFFF;
                margin-bottom: 40px;
                width: 80%;
                border-bottom-left-radius: 25px;
                border-bottom-right-radius: 25px;
                img{
                    height: 400px;
                    object-fit: cover;
                    box-sizing: border-box;
                    border-top-left-radius: 25px;
                    border-top-right-radius: 25px;
                }

                .new-content{
                    background-color: #99E2D0;
                    color: #008766;
                    width: 20%;
                    border-radius: 5px;
                    padding: 5px;
                    position: relative;
                    left: 74%;
                    bottom: 68%;
                    font-weight: 900;
                }

                .card-bottom{
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: column;
                    margin-left: 10px;
                    align-items: flex-start;
                    h2{
                        margin: 0;
                    }

                    .fas{
                        
                        -webkit-background-clip: text;
                        background-clip: text;
                        
                    }
                    .fas.fa-heart{
                        font-size: 30px;
                        position: relative;
                        left: 90%;
                        bottom: 35%;
                        transition: all 200ms;
                        font-weight: 100;
                        
                        &:hover {
                            font-weight: 600;
                            background-image: linear-gradient(#E270DA, #A45CDC,);
                            color: transparent;
                        }
                    }

                }

            }
        }

    }
}

footer{
    background-color: #353535 ;
    img{
        position: relative;
        right: 220px;
        padding-top: 20px;
        margin-bottom: 10px;
        scale: 0.8;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        & .row{
            display: flex;
            align-items: center;
            gap: 15px;
            color: white;
            margin: 5px;
        }

        .row:nth-last-child(1){
            margin-bottom: 15px;
        }
        h3{
            margin: 0;
            font-weight: 100;
        }
    }
    
}