@charset "UTF-8";
* {
  text-decoration: none;
}

header {
  text-align: center;
  justify-content: center;
}
header.header_resto {
  display: flex;
}
header.header_resto a {
  margin-left: 10px;
}
header img {
  scale: 0.8;
}
header .div_header--logo {
  z-index: 1;
  position: relative;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}
header .div_header--logo.header_restaurant {
  width: 100%;
  box-shadow: none;
}

body {
  text-align: center;
  justify-content: center;
  margin: 0;
}
body a:visited {
  color: #000000; /* Couleur de lien souhaitée pour les liens visités (identique à celle des liens non visités) */
}
body .loader {
  width: 100%;
  height: 100%;
  margin: auto;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 100;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  visibility: visible;
  animation: loading 2s ease-in forwards;
  animation: hideLoader 2s linear forwards;
}
body .loader .circle {
  padding: 12%;
  border-radius: 100%;
  margin: 0px 30px;
  animation: loading 2s ease-in;
}
body .loader .circle:nth-child(1) {
  background-color: #9356DC;
}
body .loader .circle:nth-child(2) {
  background-color: #008766;
  animation-delay: 0.1s;
}
body .loader .circle:nth-child(3) {
  background-color: #353535;
  animation-delay: 0.2s;
}
body .fas {
  -webkit-background-clip: text;
  background-clip: text;
}
body .fas.fa-heart {
  font-size: 30px;
  position: relative;
  left: 90%;
  bottom: 35%;
  transition: all 200ms;
  font-weight: 100;
}
body .fas.fa-heart:hover {
  font-weight: 600;
  background-image: linear-gradient(#E270DA, #A45CDC);
  color: transparent;
}
body .left_arrow {
  font-weight: 900;
  font-size: 30px;
  width: 5%;
  margin: auto;
  position: relative;
  pointer-events: auto;
}
body .left_arrow .fa-solid.fa-arrow-left {
  pointer-events: auto;
}

@keyframes loading {
  0% {
    transform: translate(0px, 0px);
  }
  30% {
    transform: translate(0, 150px);
  }
  60% {
    transform: translate(0, -150px);
    opacity: 0.9;
  }
  90% {
    transform: translate(0px, 0px);
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes hideLoader {
  to {
    visibility: hidden;
  }
}
.main-contener.resto {
  background-color: #F6F6F6;
}
@media screen and (min-width: 1024px) {
  .main-contener .functioning {
    margin: 0 7%;
  }
}
.main-contener .localisation-container {
  display: flex;
  background-color: #EAEAEA;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  font-weight: 600;
}
.main-contener .localisation-container i:first-child {
  margin-right: 10px;
}
.main-contener .btn {
  border-radius: 50px;
  width: 30%;
  border: 0px;
  background: linear-gradient(#E270DA, #A45CDC);
  box-shadow: 1px 3px 10px grey;
  padding: 15px;
}
.main-contener .btn a {
  color: white;
}
.main-contener .btn:hover {
  scale: 105%;
  filter: brightness(1.1);
}
.main-contener .btn.restaurant-btn {
  padding: 22px;
  margin: 15px 35px;
  text-align: center;
  position: relative;
  left: 30%;
  margin-bottom: 5%;
}
.main-contener section {
  margin-bottom: 0px;
}
.main-contener .menu_search {
  background-color: #F6F6F6;
  padding: 30px 0px;
}
.main-contener .functioning-container h1 {
  position: relative;
  text-align: left;
  padding-top: 50px;
}
@media screen and (max-width: 1023px) {
  .main-contener .functioning-container h1 {
    left: 5%;
  }
}
@media screen and (min-width: 1024px) {
  .main-contener .functioning-container h1 {
    left: 2%;
  }
}
.main-contener .functioning-container .functioning-block {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .main-contener .functioning-container .functioning-block {
    flex-direction: column;
  }
}
.main-contener .functioning-container .functioning-block .functioning-items {
  display: flex;
  border-radius: 13px;
  margin: auto;
  margin-bottom: 30px;
  width: 30%;
  border: solid 0.1px #d1caca;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-size: 12px;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);
  background-color: #F6F6F6;
}
@media screen and (max-width: 1023px) {
  .main-contener .functioning-container .functioning-block .functioning-items {
    width: 90%;
  }
}
.main-contener .functioning-container .functioning-block .functioning-items span {
  background-color: #9356DC;
  border-radius: 100%;
  color: white;
  display: flex;
  position: relative;
  padding: 13px;
  height: 5px;
  right: 4%;
  justify-content: center;
  align-items: center;
}
.main-contener .functioning-container .functioning-block .functioning-items h2 {
  width: 50%;
  position: relative;
  right: 19%;
}
.main-contener .functioning-container .functioning-block .functioning-items i {
  width: 1%;
  width: 40%;
  margin-right: 1%;
}
.main-contener .restaurant_picture img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  height: 300px;
}
.main-contener .menu_top_container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #F6F6F6;
  gap: 19%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
@media all and (min-width: 1024px) {
  .main-contener .menu_top_container {
    gap: 0%;
    justify-content: center;
  }
}
.main-contener .menu_top_container h1 {
  margin: 20px;
  font-size: 39px;
  font-family: "Shrikhand", sans-serif;
}
.main-contener .menu_top_container i {
  left: auto;
}
.main-contener .menu_container {
  position: relative;
  bottom: 58px;
}
@media all and (min-width: 1024px) {
  .main-contener .menu_container {
    margin: 0px 10%;
    margin-bottom: -58px;
  }
}
.main-contener .menu_container .container_menu {
  text-align: left;
  background-color: #F6F6F6;
}
.main-contener .menu_container .container_menu .menu_type {
  margin-left: 24px;
  margin-top: 20px;
  position: relative;
  display: inline-block;
}
@media all and (min-width: 1024px) {
  .main-contener .menu_container .container_menu .menu_type {
    margin-left: 21%;
  }
}
.main-contener .menu_container .container_menu .menu_type::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 50%;
  height: 3px; /* Hauteur de votre bordure */
  background-color: #99E2D0; /* Couleur de la bordure */
}
.main-contener .menu_container .container_menu section {
  margin: 10px;
  animation: fadeIn 2s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
.main-contener .menu_container .container_menu article {
  display: flex;
  box-shadow: 2px 5px 10px 5px rgba(0, 0, 0, 0.05);
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  align-items: center;
  margin: 21px 10px;
  border-radius: 10px;
}
@media all and (min-width: 1024px) {
  .main-contener .menu_container .container_menu article {
    margin: 25px 20%;
  }
}
.main-contener .menu_container .container_menu article h2 {
  width: 100%;
  margin-bottom: 0px;
  margin-top: 15px;
  margin-left: 10px;
}
.main-contener .menu_container .container_menu article p {
  width: 50%;
  margin-top: 10px;
  margin-left: 10px;
}
.main-contener .menu_container .container_menu article .price {
  font-weight: bold;
  width: 44%;
  text-align: end;
}
.main-contener .restaurant_container {
  background-color: #F6F6F6;
}
.main-contener .restaurant_container h1 {
  position: relative;
  text-align: left;
  padding-top: 23px;
}
@media screen and (max-width: 1023px) {
  .main-contener .restaurant_container h1 {
    left: 10%;
  }
}
@media screen and (min-width: 1024px) {
  .main-contener .restaurant_container h1 {
    left: 10%;
  }
}
@media screen and (min-width: 1024px) {
  .main-contener .restaurant_container .div_card {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5%;
  }
}
.main-contener .restaurant_container .card-container {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .main-contener .restaurant_container .card-container {
    width: 50%;
  }
}
@media screen and (max-width: 1023px) {
  .main-contener .restaurant_container .card-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }
}
.main-contener .restaurant_container .card-container .card {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  margin-bottom: 40px;
  width: 80%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.main-contener .restaurant_container .card-container .card img {
  -o-object-fit: cover;
     object-fit: cover;
  box-sizing: border-box;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
@media screen and (min-width: 1024px) {
  .main-contener .restaurant_container .card-container .card img {
    height: 200px;
  }
}
@media screen and (max-width: 1023px) {
  .main-contener .restaurant_container .card-container .card img {
    height: 400px;
  }
}
.main-contener .restaurant_container .card-container .card .new-content {
  background-color: #99E2D0;
  color: #008766;
  width: 20%;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  left: 74%;
  font-weight: 900;
}
@media screen and (max-width: 1023px) {
  .main-contener .restaurant_container .card-container .card .new-content {
    bottom: 68%;
  }
}
@media screen and (min-width: 1024px) {
  .main-contener .restaurant_container .card-container .card .new-content {
    bottom: 54%;
  }
}
.main-contener .restaurant_container .card-container .card .card-bottom {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-left: 10px;
  align-items: flex-start;
}
.main-contener .restaurant_container .card-container .card .card-bottom h2 {
  margin: 0;
}

footer {
  background-color: #353535;
}
@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
  }
}
footer #logo_footer {
  text-align: left;
  padding-top: 20px;
  width: 100%;
  margin-bottom: 10px;
}
@media screen and (min-width: 1024px) {
  footer #logo_footer {
    text-align: right;
  }
}
@media screen and (max-width: 1023px) {
  footer #logo_footer img {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  footer #logo_footer img {
    margin: 40px;
  }
}
footer .footer-container {
  display: flex;
  margin-left: 15px;
}
@media screen and (min-width: 1024px) {
  footer .footer-container {
    flex-direction: row;
    margin-left: 15px;
    gap: 7%;
    width: 97%;
    position: relative;
    left: 25%;
    align-items: center;
  }
}
@media screen and (max-width: 1023px) {
  footer .footer-container {
    flex-direction: column;
  }
}
footer .footer-container .row {
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
  margin: 5px;
}
@media screen and (max-width: 1023px) {
  footer .footer-container .row:nth-last-child(1) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1024px) {
  footer .footer-container .row:nth-last-child(1) {
    margin: 5px;
  }
}
footer .footer-container h3 {
  margin: 0;
  font-weight: 100;
}/*# sourceMappingURL=style.css.map */